/* ----- font-family-poppins ----- */
@font-face {
    font-family: 'Poppins';
    src: url('../plugins/fonts/poppins/Poppins-Black.eot');
    src: url('../plugins/fonts/poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/poppins/Poppins-Black.woff2') format('woff2'),
        url('../plugins/fonts/poppins/Poppins-Black.woff') format('woff'),
        url('../plugins/fonts/poppins/Poppins-Black.ttf') format('truetype'),
        url('../plugins/fonts/poppins/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../plugins/fonts/poppins/Poppins-Bold.eot');
    src: url('../plugins/fonts/poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/poppins/Poppins-Bold.woff2') format('woff2'),
        url('../plugins/fonts/poppins/Poppins-Bold.woff') format('woff'),
        url('../plugins/fonts/poppins/Poppins-Bold.ttf') format('truetype'),
        url('../plugins/fonts/poppins/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../plugins/fonts/poppins/Poppins-ExtraBold.eot');
    src: url('../plugins/fonts/poppins/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/poppins/Poppins-ExtraBold.woff2') format('woff2'),
        url('../plugins/fonts/poppins/Poppins-ExtraBold.woff') format('woff'),
        url('../plugins/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype'),
        url('../plugins/fonts/poppins/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../plugins/fonts/poppins/Poppins-ExtraLight.eot');
    src: url('../plugins/fonts/poppins/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/poppins/Poppins-ExtraLight.woff2') format('woff2'),
        url('../plugins/fonts/poppins/Poppins-ExtraLight.woff') format('woff'),
        url('../plugins/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype'),
        url('../plugins/fonts/poppins/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../plugins/fonts/poppins/Poppins-Light.eot');
    src: url('../plugins/fonts/poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/poppins/Poppins-Light.woff2') format('woff2'),
        url('../plugins/fonts/poppins/Poppins-Light.woff') format('woff'),
        url('../plugins/fonts/poppins/Poppins-Light.ttf') format('truetype'),
        url('../plugins/fonts/poppins/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../plugins/fonts/poppins/Poppins-Medium.eot');
    src: url('../plugins/fonts/poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/poppins/Poppins-Medium.woff2') format('woff2'),
        url('../plugins/fonts/poppins/Poppins-Medium.woff') format('woff'),
        url('../plugins/fonts/poppins/Poppins-Medium.ttf') format('truetype'),
        url('../plugins/fonts/poppins/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../plugins/fonts/poppins/Poppins-Regular.eot');
    src: url('../plugins/fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/poppins/Poppins-Regular.woff2') format('woff2'),
        url('../plugins/fonts/poppins/Poppins-Regular.woff') format('woff'),
        url('../plugins/fonts/poppins/Poppins-Regular.ttf') format('truetype'),
        url('../plugins/fonts/poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../plugins/fonts/poppins/Poppins-SemiBold.eot');
    src: url('../plugins/fonts/poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../plugins/fonts/poppins/Poppins-SemiBold.woff') format('woff'),
        url('../plugins/fonts/poppins/Poppins-SemiBold.ttf') format('truetype'),
        url('../plugins/fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../plugins/fonts/poppins/Poppins-Thin.eot');
    src: url('../plugins/fonts/poppins/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/poppins/Poppins-Thin.woff2') format('woff2'),
        url('../plugins/fonts/poppins/Poppins-Thin.woff') format('woff'),
        url('../plugins/fonts/poppins/Poppins-Thin.ttf') format('truetype'),
        url('../plugins/fonts/poppins/Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

/* ----- header ----- */
* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 3%;
    box-shadow: 0px 6px 20px rgba(255, 96, 82, 0.15);
    border-radius: 0px 0px 5px 5px;
    align-items: center;
    background-color: black;
}

.nav-links ul {
    display: flex;
    gap: 30px;
}   

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    background-color: black;
    border-radius: 5px; 
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
}

.nav-links .active {
    color: rgb(0, 255, 21);
    font-weight: 600;
}

.nav-links a:hover {
    color: rgb(0, 255, 21);
}

.nav-links .active:hover {
    color: red;
}

.navbar a:nth-of-type(2)  {
    font-size: x-large;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navbar a:nth-of-type(2):hover {
    font-weight: 600;
    color: rgb(0, 255, 21);
}
    
/* ----- main ----- */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}