/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: black;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #222222;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #ff6052;
    font-weight: 600;
    transition: color 0.2s ease;
    font-size: small;
}

.nav-links a:hover {
    color: blue;
}

.cta-btn {
    padding: 10px 20px;
    background-color: rgba(255, 68, 0, 0.866);
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    margin-left: 710px;
}

.main-title {
    text-decoration: none;
    margin: auto;
    white-space: nowrap;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    color: blue;
    transition: color 0.2s ease;
    font-weight: 600;
    font-size: small;
}

.main-title:hover {
    color: #ff6052;
}

.nav-container {
    margin-right: -40px;
}

.cta-btn:hover {
    background-color: orangered;
    color: white;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #222222;
    border-radius: 2px;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;   
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        margin-left: auto;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 1.5rem 0;
        text-align: center;
        gap: 1.5rem;
    }

    .nav-links.active {
        display: flex;
    }
}

.links a {
    text-decoration: none;
    color: blue;
}

.links a:hover {
    color: #ff6052;
    transition: color 0.2s ease;
}

h2 {
    color: black;
}

p, h3 {
    color: #ff6052;
    font-weight: bold;
}